.popup {
  width: 100%;
  height: 100%;
  /*display: none;*/
  visibility: hidden;
  transition: all .5s linear;
  opacity: 0;
  display: flex;
  align-items: center;
}
/*

@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/
