.popup__position {
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0 9px 0;
  margin-bottom: 43.5px;
}

@media screen and (min-width: 933px) {
  .popup__position {
    margin-bottom: 46px;
  }
}