.profile__position {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 0;
    margin-bottom: 36px;
}

@media screen and (min-width: 933px) {
    .profile__position {
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 0;
    }
}
