.window__position {
  font-size: 14px;
  line-height: 16.94px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  margin-bottom: 45px;
  margin-bottom: 45px;
  margin-bottom: 42px;
  padding-left: 0;
}