.window__save-profile {
    color: #FFFFFF;
    background-color: black;
    max-width: 238px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 16.94px;
    border-radius: 2px;
    cursor: pointer;
    padding: 14.5px 0;
}

.window__save-profile:hover {
    opacity: .8;
}