.profile__avatar {
  max-width: 168.75px;
  max-height: 127.5px;
  margin: 0 0 22.25px 0;
}

@media screen and (min-width: 933px) {
  .profile__avatar {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
