.card__like {
    background-image: url('../../../images/like.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 22px;
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}