.card__like {
  background: transparent url('../../../images/like.svg') no-repeat center;
  background-size: 22px;
  aspect-ratio: 1 / 1;
  border: 0;
  padding: 0 22px 0 0;
  margin-right: 5px;
  margin-left: auto;
  cursor: pointer;
}

.card__like:hover {
  opacity: .5;
}