.popup__btn-save-profile {
  color: #FFFFFF;
  background-color: black;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  cursor: pointer;
  padding: 15px 0;
}

.popup__btn-save-profile:hover {
  opacity: .8;
}

@media screen and (min-width: 933px) {
  .popup__btn-save-profile {
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}