.profile__add-botton {
    background-image: url('../../../images/add-botton.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 16.021%;
    width: calc(100% - 4px);
    outline: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-botton:hover {
    opacity: .6;
}

@media screen and (min-width: 933px) {
    .profile__add-botton {
        margin-top: 34.5px;
        max-width: 146.5px;
        padding-bottom: 0;
        aspect-ratio: 3 / 0.95;
        background-size: 22px;
        margin-left: auto;
    }
}
